<div class="user">
        <input type="text" width="100px" placeholder="Username" mb-3>
<p></p>
  <select name="select" width="100px">
    <option selected>Ciudad...</option>
    <option value="1">Mexico</option>
    <option value="2">USA</option>
    <option value="3">Canada</option>
    <option value="4">Nueva Zelanda</option>
  </select>

  <p></p>
  <p></p>

  <input type="email" placeholder="Email a enviar" mb-3>

  <p></p>
  <p></p>

  <form>
    <input id="used" type="checkbox" name="one" value="used">
    <label for="used">Usado</label>
    <br>
    <input id="new" type="checkbox" name="two" value="new">
    <label for="new">Nuevo</label>
  </form>

  <p></p>
  <p></p>

  <select name="select" width="100px">
    <option selected>Transporte a usar...</option>
    <option value="1">Coche</option>
    <option value="2">Camioneta</option>
    <option value="3">Bisicleta</option>
    <option value="4">Moto</option>
  </select>




</div>


